* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  margin-top: 76px;
  margin-bottom: 20px;
}

header > h1 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 0.975rem;
  font-weight: 400;
  margin-top: 8px;
  color: #8e8e8e;
  max-width: 350px;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10A95B;
  padding: 6px;
  border-radius: 4px;
  margin-block: 30px;
}

.status-container > h1 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
  color: #F9F4DA;
}

.status-container > h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
  color: #F9F4DA;
}

.language-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 2.5px;
  justify-content: center;
  max-width: 350px;
}

.language-item {
  border-radius: 3px;
  padding: 4.5px;
}
